<suite name="Railway">
    <test name="login">
        <classes>
            <class name="Railway.TestCase01"/>
            <class name="Railway.TestCase02"/>
            <class name="Railway.TestCase03"/>
            <class name="Railway.TestCase04"/>
            <class name="Railway.TestCase05"/>
        </classes>

    </test>
    <test name="bookTicket">
        <classes>
            <class name="Railway.TestCase14"/>
            <class name="Railway.TestCase15"/>
            <class name="Railway.TestCase16"/>
            <class name="Railway.TestCase17"/>
        </classes>

    </test>






</suite>